In [19]:
%matplotlib inline
import pandas as pd

In [20]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [21]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                      title  year
0       Una vez en la noche  1971
1      Assassins et voleurs  1957
2                 Navy Wife  1935
3  The Boys Behind the Desk  2000
4            Grand Festival  2006

In [22]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [23]:
len(titles)

222285

In [24]:
titles.head(3)

                  title  year
0   Una vez en la noche  1971
1  Assassins et voleurs  1957
2             Navy Wife  1935

### What are the earliest two films listed in the titles dataframe?

In [25]:
titles.sort_values('year').head(2)

                                                 title  year
147786                                      Miss Jerry  1894
73964   Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [26]:
t= titles
r= t[titles.title=="Hamlet"]
len(r)
r

         title  year
15881   Hamlet  1973
36355   Hamlet  2000
45667   Hamlet  2011
50777   Hamlet  2015
52104   Hamlet  1969
64470   Hamlet  2009
84145   Hamlet  1996
128609  Hamlet  2016
131258  Hamlet  1954
134216  Hamlet  1921
160892  Hamlet  1948
160928  Hamlet  1911
161529  Hamlet  1987
162152  Hamlet  1990
181873  Hamlet  1910
187700  Hamlet  2014
189726  Hamlet  1964
192874  Hamlet  1913
208319  Hamlet  1976

### How many movies are titled "North by Northwest"?

In [27]:
len([titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [28]:
r.sort_values

<bound method DataFrame.sort_values of          title  year
15881   Hamlet  1973
36355   Hamlet  2000
45667   Hamlet  2011
50777   Hamlet  2015
52104   Hamlet  1969
64470   Hamlet  2009
84145   Hamlet  1996
128609  Hamlet  2016
131258  Hamlet  1954
134216  Hamlet  1921
160892  Hamlet  1948
160928  Hamlet  1911
161529  Hamlet  1987
162152  Hamlet  1990
181873  Hamlet  1910
187700  Hamlet  2014
189726  Hamlet  1964
192874  Hamlet  1913
208319  Hamlet  1976>

In [29]:
titles[titles.title == "Hamlet"].sort("year").head(1)

C:\Users\ghosh_amlan\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         title  year
181873  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [30]:
titles[titles.title=="Treasure Island"].sort_values("year")

                  title  year
121911  Treasure Island  1918
62987   Treasure Island  1920
189127  Treasure Island  1934
166331  Treasure Island  1950
86942   Treasure Island  1972
117013  Treasure Island  1973
26448   Treasure Island  1985
90130   Treasure Island  1999

### How many movies were made in the year 1950?

In [31]:
len(titles[titles.year==1950])

1060

### How many movies were made in the year 1960?

In [32]:
len(titles[titles.year==1960])

1485

### How many movies were made from 1950 through 1959?

In [33]:
t= titles
len(t[(t.year>=1950) & (t.year<=1959)])

12261

### In what years has a movie titled "Batman" been released?

In [34]:
titles[titles.title=="Batman"].year

138669    1989
151934    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [35]:
cast

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
10,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
11,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
12,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
13,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
14,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
15,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
16,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
17,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
18,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
19,The LXD: The Secrets of the Ra,2013,Jesse 'Casper' Brown,actor,Fangz,NaN
20,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
21,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
22,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
23,The LXD: The Secrets of the Ra,2013,Dondraico 'Draico' Johnson,actor,Umbra,NaN
24,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0
25,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
26,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0
27,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
28,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,25.0
29,Mahogany Sunrise,2014,Gilberto 'Ghetto Bird' Bahena,actor,Jesse,21.0
...,...,...,...,...,...,...
3461436,Musallat,2007,Serap ?st?n,actress,Zeynep,NaN
3461437,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN
3461438,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3461439,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3461440,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3461441,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3461442,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3461443,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3461444,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3461445,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3461446,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3461447,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3461448,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3461449,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3461450,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3461451,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3461452,The Oath,2016,Mar?a Heba ?orkelsd?ttir,actress,M??ir,NaN
3461453,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3461454,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3461455,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3461456,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3461457,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3461458,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3461459,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3461460,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3461461,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3461462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3461463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3461464,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3461465,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [36]:
c = cast[(cast.title=="Inception")]

In [37]:
c = cast
c
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [38]:
c= cast
c=c[c.title=="Inception"]
c=c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [39]:
len(cast)
c= cast
c=c[c.title=="North by Northwest"]

In [40]:
len(c)

111

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [51]:
c = cast
c = c[(c.title == 'Sleuth') & (c.year == 1972)]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1579110,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
301754,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
345575,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1356514,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2513707,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1341168,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [47]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values('n')
c

          title  year                 name     type          character    n
301755   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1197131  Sleuth  2007             Jude Law    actor               Milo  2.0
1671929  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
239717   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
345576   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2513706  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3091269  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [52]:
cdf = cast
cdf = cdf[cdf.title == 'Hamlet']
cdf = cdf[cdf.year == 1921]
len(cdf)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [54]:
c = cast
c = c[c.title.str.contains.
c

SyntaxError: invalid syntax (<ipython-input-54-9f5c4f58ffdf>, line 2)

### How many "Hamlet" roles have been listed in all film credits through history?

In [60]:
c = cast
c = c[c.character == "Hamlet"]
#c
len(c)

87

### How many people have played an "Ophelia"?

In [61]:
c = cast
c = c[c.character == "Ophelia"]
#c
len(c)

102

### How many people have played a role called "The Dude"?

In [62]:
c = cast
c = c[c.character == "The Dude"]
#c
len(c)

17

### How many people have played a role called "The Stranger"?

In [63]:
c = cast
c = c[c.character == "The Stranger"]
#c
len(c)

203

### How many roles has Sidney Poitier played throughout his career?

In [64]:
c = cast
c = c[c.name == "Sidney Poitier"]
#c
len(c)

43

### How many roles has Judi Dench played?

In [65]:
c = cast
c = c[c.name == "Judi Dench"]
#c
len(c)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [68]:
c = cast
c = c[c.name == "Cary Grant"]
c= c[c.year //10 == 194]
c= c[c.n ==2]
c= c.sort_values('year')
#c
len(c)

2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [70]:
c = cast
c = c[c.name == "Cary Grant"]
c= c[c.year //10 == 194]
c= c[c.n ==1]
c= c.sort_values('year')
#c
len(c)

19

### How many roles were available for actors in the 1950s?

In [76]:
c = cast
c = c[c.type == "actor"]
c= c[c.year //10 == 195]

c= c.sort_values('year')
c
#len(c)

,title,year,name,type,character,n
971522,The Capture,1950,Jimmy Hunt,actor,Mike,5.0
346132,La casa chica,1950,Roberto Ca?edo,actor,Dr. Fernando Mendoza,2.0
346122,Entre tu amor y el cielo,1950,Roberto Ca?edo,actor,Ram?n,2.0
956651,Father of the Bride,1950,Art Howard,actor,Wedding Guest,NaN
1615352,Rider from Tucson,1950,Post Park,actor,Stagecoach Driver,NaN
2078910,Ambush,1950,Ray Teal,actor,Capt. J.R. Wolverson,12.0
956665,Peggy,1950,Art Howard,actor,Judge,NaN
956673,The File on Thelma Jordon,1950,Art Howard,actor,Courtroom Spectator,NaN
2078941,Convicted,1950,Ray Teal,actor,Cell Block,NaN
2078942,Convicted,1950,Ray Teal,actor,Yard Guard,NaN
2078948,"Davy Crockett, Indian Scout",1950,Ray Teal,actor,Capt. McHale,14.0
2078951,Deadly Is the Female,1950,Ray Teal,actor,California Border Inspector,NaN
2078961,Edge of Doom,1950,Ray Teal,actor,Ned Moore,16.0
956684,To Please a Lady,1950,Art Howard,actor,Racing Spectator,NaN
956699,Cage of Gold,1950,Arthur (III) Howard,actor,Registry Office Bridegroom,NaN
956703,Dick Barton at Bay,1950,Arthur (III) Howard,actor,Minor Role,NaN
345443,The Elusive Pimpernel,1950,Robert Cawdron,actor,Doorman at the French Embassy,NaN
956704,Emergency Wedding,1950,Arthur (III) Howard,actor,Bit Part,NaN
345439,State Secret,1950,Robert Cawdron,actor,State Policeman,NaN
345438,Stage Fright,1950,Robert Cawdron,actor,Policeman,NaN
1615386,Trail of the Rustlers,1950,Post Park,actor,Stage Driver,NaN
345430,Highly Dangerous,1950,Robert Cawdron,actor,Soldier at Barrier During Fire,NaN
2078764,Vigilante Hideout,1950,Guy Teague,actor,Blackie,9.0
1615821,Dangerous Assignment,1950,MacDonald Parke,actor,B.G. Bradley,4.0
347621,Il brigante Musolino,1950,Guido Celano,actor,Brigadier Rinaldi,5.0
956038,The Blue Lamp,1950,Glyn Houston,actor,Barrow Boy,NaN
956041,The Clouded Yellow,1950,Glyn Houston,actor,Lancastrian Bus Conductor,NaN
956056,Trio,1950,Glyn Houston,actor,Ted (in segment The Verger),6.0
347606,Donne e briganti,1950,Guido Celano,actor,Borbonne Sergeant,7.0
956058,Waterfront,1950,Glyn Houston,actor,Sailor,NaN
...,...,...,...,...,...,...
1675203,Hlavni vyhra,1959,Jan Pivec,actor,"Vacek, reditel",5.0
243259,Pervyy den mira,1959,Heinz (V) Braun,actor,SS-Hauptsturmf?hrer,NaN
520148,The Flying Fontaines,1959,Harold DeGarro,actor,Stilt Walker,NaN
1674525,Vasiliy Surikov,1959,Vladimir Pitsek,actor,Zaika,NaN
880365,The Best of Everything,1959,Donald Harron,actor,Sidney Carter,9.0
1674706,Strictly Confidential,1959,Norman Pitt,actor,Muspratt,NaN
520309,The House of the Seven Hawks,1959,Guy Deghy,actor,Desk Lieutenant,14.0
520314,The Mouse That Roared,1959,Guy Deghy,actor,Soviet Ambassador,NaN
1128444,Prelude tot de dageraad,1959,Staf Knop,actor,Nozem (2),NaN
879937,Battle Flame,1959,Richard (II) Harrison,actor,2nd Lt. Wechsler,8.0
879740,The Mummy,1959,John (VIII) Harrison,actor,Priest,NaN
879739,The Man Who Could Cheat Death,1959,John (VIII) Harrison,actor,Servant,NaN
520431,Les dragueurs,1959,Jean Degrave,actor,Un invit? de la surboum,NaN
1674913,High School Big Shot,1959,Tom Pittman,actor,Marvin 'Marv' Grant,1.0
520574,Primo amore,1959,Niccol? DeGuido,actor,Enrico,NaN
520671,It Happened to Jane,1959,Carter (III) DeHaven,actor,Fisher,NaN
520814,Cast a Long Shadow,1959,John Dehner,actor,Chip Donohue,3.0
1674919,Verboten!,1959,Tom Pittman,actor,Bruno Eckart,3.0
1480425,La vida alrededor,1959,Manolo Mor?n,actor,Ceferino L?pez Gallego 'El Agujetas',3.0
1128969,Operation Amsterdam,1959,Alexander Knox,actor,Walter Keyser,4.0
242816,Komandirat na otryada,1959,Ivan Bratanov,actor,Komitata,4.0
1950956,The Beat Generation,1959,Cole Simpson,actor,Beatnik,NaN
879495,The Remarkable Mr. Pennypacker,1959,Donald (II) Harrison,actor,Bobby Pennypacker,NaN
1480421,La casa de la Troya,1959,Manolo Mor?n,actor,Mingui?os,31.0
2161453,The Young Land,1959,Dale Van Sickel,actor,Cowboy,NaN
1675151,Quem Roubou Meu Samba?,1959,Pituca,actor,Terrinha,5.0
879476,The Remarkable Mr. Pennypacker,1959,David (XIII) Harrison,actor,Dick Pennypacker,NaN
1675201,Dum na Orechovce,1959,Jan Pivec,actor,Professor Jaroslav Mares,3.0
1677639,Il moralista,1959,Alberto Plebani,actor,Count Vasalli Bertinacci,NaN
684445,Du rififi chez les femmes,1959,Roland Fleury,actor,Bit part,31.0

### How many roles were avilable for actresses in the 1950s?

In [77]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

55286

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [78]:
c = cast
c = c[c.n==1] 
c = c[c.year <= 1980]
len(c)

62806

### How many non-leading roles were available through from the beginning of film history through 1980?

In [79]:
c = cast
c = c[c.n!=1] 
c = c[c.year <= 1980]
len(c)

1076860

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [81]:
c = cast
c = c[c.n.isnull()] 
c = c[c.year <= 1980]
len(c)

430267