# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [355]:
import pandas as pd

## imports for Python, Pandas

In [356]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [357]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [358]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [359]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [360]:
# load json as string
q=json.load((open('data/world_bank_projects_less.json')))

In [361]:
# load as Pandas dataframe
q1q1=json.load((open('data/world_bank_projects.json')))
sample_json_df = pd.read_json('data/world_bank_projects.json')
sample_json_df.index

RangeIndex(start=0, stop=500, step=1)

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [362]:
#Check column names of the data frame 
sample_json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [363]:
# Number of occourance of a country code or country code will define the number of unique projects that the coutry is doing
country_with_max_project_by_countryname= sample_json_df.countryname.value_counts()
#Print top 10 countries
country_with_max_project_by_countryname.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [364]:
# Cross check the resutl with country code.
country_with_max_project_by_countryCode= sample_json_df.countryname.value_counts()
#Print top 10 countries by country code

country_with_max_project_by_countryCode.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [376]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')

# normalize json object for 'mjtheme_namecode'


jsonNormalized = json_normalize(q1, 'mjtheme_namecode')

# Print structure 
jsonNormalized

# Print top 10 major projects
jsonNormalized.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [377]:
removeduplicate = jsonNormalized.drop_duplicates(subset=None,keep='first', inplace=False)

#create dictionary 
dictionary = removeduplicate[removeduplicate['name'] != ''].to_dict()

dictionary

# Apply  dictionary to sample_json_df 
# Need guidance

{'code': {0: '8',
  2: '1',
  3: '6',
  4: '5',
  5: '2',
  6: '11',
  8: '7',
  11: '4',
  18: '10',
  53: '9',
  252: '3'},
 'name': {0: 'Human development',
  2: 'Economic management',
  3: 'Social protection and risk management',
  4: 'Trade and integration',
  5: 'Public sector governance',
  6: 'Environment and natural resources management',
  8: 'Social dev/gender/inclusion',
  11: 'Financial and private sector development',
  18: 'Rural development',
  53: 'Urban development',
  252: 'Rule of law'}}